button {
  background: #FFEE00;
  color: #000;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 14px 16px;
  font-weight: bold;
  cursor: pointer;
}

h1 {
  font-size: 51px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}